<style="text/css">
td{ height: 100%;}
.bg 
{ 
	background-color: #808080; 
	height:28px; 
	color:#fff; 
	width: 100%; 
	font-size:18px;  
	display: block;
	valign: right;
}
td{ height: 100%;}
.bgs
{ 
	background-color: #808080; 
	height:28px; 
	color:#fff; 
	width: 100%; 
	font-size:18px;  
	display: block;
	text-valign: center;
}

td { height: 100%;}
.bg2 { background-color: #7f7f7f; color:#fff; width: 100%; height: 100%; display: block; }
a {
      text-decoration:none;
   }
   	
.search-submit2 
{
	width:150px;
	background:#8b0000;
	border:0;
	color:#fff;
	height:27px;

	line-height:26px;
	cursor:pointer;
	margin:0px 0px 10px 0px;
}

.search-submit2:hover
{
	width:150px;
	background:#FF0000;
	border:0;
	color:#fff;
	height:27px;

	line-height:26px;
	cursor:pointer;
	margin:0px 0px 10px 0px;
}

.search-submit3
{
	width:150px;
	background:#8b0000;
	border:0;
	color:#fff;
	height:27px;

	line-height:26px;
	cursor:pointer;
	margin:0px 0px 10px 580px;
}
.search-submit3:hover
{
	width:150px;
	background:#FF0000;
	border:0;
	color:#fff;
	height:27px;

	line-height:26px;
	cursor:pointer;
	margin:0px 0px 10px 490px;
}
.search-submit4
{
	width:150px;
	background:#8b0000;
	border:0;
	color:#888888 ;
	height:27px;

	line-height:26px;
	cursor:pointer;
	margin:0px 0px 10px 0px;
}


.search-submit5
{
	width:150px;
	background:#8b0000;
	border:0;
	color:#fff;
	height:27px;

	line-height:26px;
	cursor:pointer;
	margin:0px 0px 0px 550px;
}
.search-submit5:hover
{
	width:150px;
	background:#FF0000;
	border:0;
	color:#fff;
	height:27px;

	line-height:26px;
	cursor:pointer;
	margin:0px 0px 10px 550px;
}

.hr_break
{
border: 0;
height: 0;
border-top: 1px solid rgba(0, 0, 0, 0.1);
border-bottom: 1px solid rgba(255, 255, 255, 0.3);";
}
.hr_red
{
color: #f00;
background-color: #f00;
height: 1px;
}

/*
 *  STYLE 2
 */
#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}
</style>